*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
/* navbar */
header{
    margin: 0 50px;
    /* border: 1px solid black; */
    overflow: hidden;
}

nav ul li{
    display: inline-block;
    text-align: center;
    padding: 12px 10px;
    list-style-type: none;
    /* border: 1px solid black; */
    margin-top: 24px;
    margin-left: 5px;
    font-size: 18px;
}
.head{
    width: 28%;
    display: inline;
    float: left;
    color: rgb(43, 68, 43);
    padding: 14px 8px;
    /* border: 1px solid black; */
    margin-top: 19px;
    margin-left: 8px;
}
.dropdown{
    border: none;
    outline:none;
    font-size: inherit;
    font-family: inherit;
    background-color: white;
}
.btn{
    font-size: inherit;
    font-family: inherit;
    background-color: rgba(218,57,54,255);
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-top:14px;
    width: 125px;
    height: 45px;
}



@media screen and (max-width:1250px) {
    /* navbar */
header{
    margin: 0 50px;
    /* border: 1px solid black; */
    overflow: hidden;
}

nav ul li{
    display: inline-block;
    text-align: center;
    padding: 12px 10px;
    list-style-type: none;
    /* border: 1px solid black; */
    margin-top: 24px;
    font-size: 18px;
}
.head{
    width: 25%;
    display: inline;
    float: left;
    color: rgb(43, 68, 43);
    padding: 14px 0.5vw;
    /* border: 1px solid black; */
    margin-top: 17px;
}
.dropdown{
    border: none;
    outline:none;
    font-size: inherit;
    font-family: inherit;
    background-color: white;
}
.btn{
    font-size: inherit;
    font-family: inherit;
    background-color: rgba(218,57,54,255);
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-top:14px;
    width: 125px;
    height: 45px;
}
}


@media screen and (max-width:1150px) {
    /* navbar */
header{
    margin: 0 50px;
    /* border: 1px solid black; */
    overflow: hidden;
}

nav ul li{
    display: inline-block;
    text-align: center;
    padding: 12px 7px;
    list-style-type: none;
    /* border: 1px solid black; */
    margin-top: 24px;
    font-size: 18px;
}
.head{
    width: 20%;
    display: inline;
    float: left;
    color: rgb(43, 68, 43);
    padding: 14px 0.5vw;
    /* border: 1px solid black; */
    margin-top: 17px;
}
.dropdown{
    border: none;
    outline:none;
    font-size: inherit;
    font-family: inherit;
    background-color: white;
}
.btn{
    font-size: inherit;
    font-family: inherit;
    background-color: rgba(218,57,54,255);
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-top:14px;
    width: 125px;
    height: 45px;
}
}


@media screen and (max-width:1010px) {
    /* navbar */
header{
    margin: 0 50px;
    /* border: 1px solid black; */
    overflow: hidden;
}

nav ul li{
    display: inline-block;
    text-align: center;
    padding: 12px 5px;
    list-style-type: none;
    /* border: 1px solid black; */
    margin-top: 24px;
    font-size: 18px;
}
.head{
    width: 15%;
    display: inline;
    float: left;
    color: rgb(43, 68, 43);
    padding: 14px 0.5vw;
    /* border: 1px solid black; */
    margin-top: 17px;
}
.dropdown{
    border: none;
    outline:none;
    font-size: inherit;
    font-family: inherit;
    background-color: white;
}
.btn{
    font-size: inherit;
    font-family: inherit;
    background-color: rgba(218,57,54,255);
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-top:14px;
    width: 125px;
    height: 45px;
}
}



/* slideshow */
.slide{
    max-width: 100%;
    /* border: 1px solid black; */
}
.myslide{
    background-image: url("images/myslide.jpg");
    overflow: hidden;
    height: 50%;
}
.insideImage{
    color: white;
    text-align: center;
    margin:100px;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 10px;
  }

.active, .dot:hover {
    background-color:rgba(218,57,54,255);
  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
  }

  .next {
    right: 0;
  }
.btnSlide{
    font-size: inherit;
    font-family: inherit;
    background-color: rgba(218,57,54,255);
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-top:28px;
    width: 125px;
    height: 35px;
}

/* Section */
.section{
    width: 80vw;
    /* border:1px solid black; */
    margin: 50px 10%;
    
}
.section1, .section2{
    width: 39vw;
    display: inline-block;
}
.section{
    float: left;
}
.section2{
    float:right;
}
.section2 li:before{
    content: url(images/tick4.jpg);
   
}  
.link{
    overflow: hidden;
    width: 100%;
    background-color: rgba(248,249,250,255);
    /* border: 1px solid green; */
}
.link ul{
    margin: 0px 120px;
}

/* .insidelink{
    border: 1px solid black;
    margin: 0px 100px;
} */

.link li{
    float: left;
    list-style-type: none;
    padding: 10px 50px;
}
/* articles */
article{
    width: 80vw;
    overflow: hidden;
    /* border:1px solid green; */
    margin: 20px 8%;
    display: flex;
    justify-content: space-between;
}
.article1, .article2, .article3, .article4, .article5, .article6{
    width: 34vw;
    /* border: 1px solid red; */
    background-color: rgba(248,249,250,255);
    padding:30px 30px;
    display: flex;
}

.icon1, .icon2, .icon3, .icon4, .icon5, .icon6{
    margin-top: 25px;
    margin-right: 15px;
    padding: 10px 10px;
}


/* imageslink */
.imglink{
    overflow: hidden;
    width:22vw;
    /* border: 1px solid red; */
    margin:20px 40vw;
}

.imglink li{
    float: left;
    list-style-type:none;
    padding: 5px 0.5vw;
    width: 45px;
    height: 30px;
}

.imgbtn{
    font-size: inherit;
    font-family: inherit;
    background-color: rgb(196, 36, 36);
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    margin-top:0;
    width: 45px;
    height: 30px;
}

.image-container{
    display: inline-block;
    position: relative;
    width: 78vw;
    height: 165vh;
    margin: 0px 9.5vw;
    /* border: 1px solid blue; */
    overflow: hidden;
}
.imgchild{
    padding: 10px;
    margin: 5px;
    display: inline-block;
    /* border: 1px solid yellow; */
}
.first{
    width: 24vw;
    height: 60vh;
    position: absolute;
    left: 1vw;
    top:3vh;
}
.second{
   width: 24vw;
   height: 35vh;
   position: absolute;
   top:3vh;
   left: 27vw;
}
.third{
   width:24vw ;
   height: 30vh;
   position: absolute;
   left: 53vw;
   top:3vh;

} 
.four{
    width:24.3vw;
    height: 70vh;
    position: absolute;
    left:0.2vw;
    top:33vh;
}
.five{
   width:24vw ;
   height: 80vh;
   position: absolute;
   left:13.3vw ;
   top: 20vh;
}
.six{
    width: 24vw;
    height: 35vh;
    position: absolute;
    left: 26.2vw;
    top: 18vh;
}
.seven{
    width: 24vw;
    height: 33vh;
    position: absolute;
    left:26.3vw;
    top: 37vh;
}
.eight{
   width: 24vw;
   height:33vh;
   position: absolute;
   left: 13.3vw;
   top: 62vh;
}
.nine{
    width: 24vw;
    height: 40vh;
    position: absolute;
    left: 26.3vw;
    top: 55vh;
}

/* footer */

footer{
    overflow: hidden;
    /* border: 1px solid yellow; */
    margin-top: 50px;
    
}

.container{
    display: flex;
    background-color: rgba(81,93,106,255);
    padding: 20px;
    justify-content: space-between;
    color: white;
    

}
.child{
    margin: 10px;
    width: 20vw;
    /* border: 2px solid red; */
}
.child li{
    padding: 5px;
    overflow: hidden;
    /* border: 1px solid blue; */
}

.copy{
    text-align: center;
    background-color: rgba(74,85,98,255);
    margin-top: 0;
    padding: 10px;
    height: 40px;
    color: white;
}

.copy p{
    margin-top: 12px;
}

#text{
    height: 30px;
    width: 150px;
}
.upbtn{
    font-size: inherit;
    font-family: inherit;
    background-color: rgba(225,70,29,255);
    color: white;
    border: none;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    width: 60px;
    display: inline-block;
    width: 40px;
    height: 30px;
    padding-top:10px ;
}

.frm-btn{
    font-size: inherit;
    font-family: inherit;
    background-color: rgba(225,70,29,255);
    color: white;
    border: none;
    outline: none;
    margin-top:0;
    height:31px;
    width: 90px;
}


